<div class="container">
  <h2>Shopping Cart</h2>

  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Amount</th>
        <th scope="col">Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of cart$ | async; let i = index">
        <th>{{ i + 1 }}</th>
        <td><img src="{{ product.imageUrl }}" /></td>
        <td>{{ product.title }}</td>
        <td>{{ product.price | currency : "USD" }}</td>
        <td>
          <button class="btn btn-warning" (click)="removeOne(product)">
            -
          </button>
          <span class="mx-4">{{ product.amount }}</span>
          <button class="btn btn-warning" (click)="addOne(product)">+</button>
        </td>
        <td>{{ product.price! * product.amount! | currency : "USD" }}</td>
      </tr>
    </tbody>
  </table>
</div>
