<nav class="navbar navbar-expand navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Food Order</a>

    <div class="navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-cart">
            <i class="bi bi-cart3"></i>
            <span class="badge rounded-pill bg-success ms-1">{{
              total === 0 ? "" : total
            }}</span>
          </a>
        </li>
        <ng-template #showLogin>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ng-template>
        <li
          ngbDropdown
          class="nav-item"
          *ngIf="user$ | async as user; else showLogin"
        >
          <a href (click)="(false)" class="nav-link" ngbDropdownToggle>{{
            user.name || "username"
          }}</a>
          <div ngbDropdownMenu>
            <a ngbDropdownItem routerLink="/my-orders">My Orders</a>
            <a ngbDropdownItem routerLink="/admin/orders" *ngIf="user.isAdmin"
              >Manage Orders</a
            >
            <a ngbDropdownItem routerLink="/admin/products" *ngIf="user.isAdmin"
              >Manage Products</a
            >
            <div class="dropdown-divider"></div>
            <a ngbDropdownItem (click)="logout()">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
