<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" aria-describedby="name" />
  </div>

  <div class="mb-3">
    <label for="addressLine1" class="form-label">Address line 1</label>
    <input type="text" class="form-control" id="addressLine1" />
  </div>
  <div class="mb-3">
    <label for="addressLine2" class="form-label">Address line 2</label>
    <input type="text" class="form-control" id="addressLine2" />
  </div>
  <div class="mb-3">
    <label for="city" class="form-label">City</label>
    <input type="text" class="form-control" id="city" />
  </div>
</form>
