/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

$primary-color: green;
.navbar-brand {
  color: $primary-color;
}

.list-group-item.active {
  background-color: $primary-color;
  border-color: $primary-color;
}
